.cart-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
}

@media (min-width: 650px) {
  .cart-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
  }
}
