:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --border-radius: 4px;
  --nav-height: 50px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--dark-navy);
  color: var(--white);
}

.main-content {
  margin: 0 10% 0 10%;
}

h1 {
  color: var(--green);
  font-size: var(--fz-heading);
}

.card {
  background-color: var(--light-navy);
  border-radius: 5%;
  box-shadow: -5px 5px 10px 0 rgb(0, 0, 0, 0.1);
  margin-bottom: 1em;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.card__image {
  width: 100%;
  height: 40vh;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.card__body {
  padding: 1em;
}

.card__body__button {
  display: none;
  padding: 0.5em 0;
  color: var(--white);
  border: 1px solid var(--green);
  width: 100%;
  border-radius: var(--border-radius);
  background-color: inherit;
}

.card:hover .card__body__button {
  display: block;
}

.card__body__button:hover {
  background-color: #64ffda20;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fz-md);
}

.link {
  color: var(--white);
  text-decoration: none;
}

.btn {
  background-color: var(--green);
  padding: 10px 20px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

@media (min-width: 650px) {
  .card {
    width: 20%;
  }

  .card__image {
    width: 100%;
    height: 30vh;
  }
}
